$primary: #Fffeef;
$secondary: #Fffeef;
$success: #Fffeef;
$info: #Fffeef;
$warning: #Fffeef;
$danger: #Fffeef;
$light: #Fffeef;
$dark: #Fffeef;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);

@import "~bootstrap/scss/bootstrap";
